services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "4533:4533"
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_BASEURL: "https://paidguy.duckdns.org"
      ND_ENABLETRANSCODINGCONFIG: "true"
    volumes:
      - "./data/navidrome:/data"
      - "./music:/music"
    restart: unless-stopped

  syncthing:
    image: syncthing/syncthing
    hostname: aws-music-server
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - "./data/syncthing:/var/syncthing/config"
      - "./music:/var/syncthing/Music"
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
    restart: unless-stopped

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

# This section below is what was missing
volumes:
  caddy_data:
  caddy_config:
